{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>웰컴 투 강의평가</title>
    <link rel="stylesheet" href="/static/css/index_style.css" />
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <!-- 온라인 글꼴 -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <h1 class="logo"><a href="{% url 'index' %}" class="logo"><img class="image001" src="/static/image/school.png" alt="" />
        </h1>
        <nav class="nav">
          <ul class="list">
            <li class="list-item"><a href="{% url 'logined'%}">홈</a></li>
            <li class="list-item"><a href="{% url 'logout'%}">로그아웃</a></li>
            <li class="list-item"><a href="{% url 'home' %}">강의평가</a></li>
          </ul>
        </nav>
      </div>
    </header>
    {%block contents %}

    {%endblock%}
    </body>
    
    <footer class="footer">
        <ul class="footer-list">
          <a href="#">이용약관</a>
        </ul>
        <ul class="footer-list">
          <a href="#">개인정보처리방침</a>
        </ul>
        <ul class="footer-list">
          <a href="#">문의하기</a>
        </ul>
      </footer>
    </body>
  </html>